{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Comments{% endblock %}

{% block body %}

<div class="col-sm-6 col-sm-offset-3">
  <blockquote class="comments">
    <h3>{{ comment.content }}</h3>
    <footer>
      by {{ comment.user }} | {{ comment.updated_at|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% endif %}{% if comment.children.count > 1 %}s{% endif %}</a>
    </footer>
    <hr />
    <div>
      {% for child_comment in comment.children %}
      <blockquote class="blockquote-reverse">
        <p>{{ child_comment.content }}</p>
        <footer>
          by {{ child_comment.user }} | {{ comment.updated_at|timesince }} ago | {% if request.user == child_comment.user %} <a href="{{ child_comment.get_delete_url }}">Delete</a> {% endif %}
        </footer>
      </blockquote>
      {% endfor %}
      {% if request.user.is_authenticated %}
      <form method="post" action="{% url 'comments:thread' comment.id %}">{% csrf_token %}
        <div class="form-group" >
          {{ comment_form }}
          <input type="hidden" name="parent_id" value="{{ comment.id }}" />
        </div>
        <div class="form-button pull-right">
          <button type="submit" class="btn btn-primary">Reply</button>
          {% if request.user == comment.user %}<a href="{% url 'comments:delete' comment.id %}" class="btn btn-warning">Delete</a>{% endif %}
        </div>
      </form>
      {% else %}
      <p>You must login to leave a comment!</p>
      {% endif %}
  </blockquote>
</div>

{% endblock %}
